<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find delivery_robot_new_version)/urdf/delivery_robot_new_version.urdf" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find delivery_robot_new_version)/urdf.rviz" />
</launch>